<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="mb-3">
  <div class="mb-3">
    <label for="codigo" class="form-label">Código:</label>
    <input type="text" id="codigo" class="form-control" formControlName="codigo" />
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción:</label>
    <input type="text" id="descripcion" class="form-control" formControlName="descripcion" />
  </div>

  <div class="mb-3">
    <label for="precio" class="form-label">Precio:</label>
    <input type="number" id="precio" class="form-control" formControlName="precio" />
  </div>

  <button type="submit" class="btn btn-primary">Crear</button>
</form>

<ul class="list-group">
  <li *ngFor="let articulo of articulos" class="list-group-item">
    {{ articulo.codigo }} - {{ articulo.descripcion }} - {{ articulo.precio }}
    <button (click)="editarArticulo(articulo)" class="btn btn-warning mx-2">Editar</button>
    <button (click)="eliminarArticulo(articulo.codigo)" class="btn btn-danger">Eliminar</button>
  </li>
</ul>

  